        <div class="row">
            <div class="box">
                <div class="col-lg-12">
                    <hr>
                    <h2 class="intro-text text-center"><strong style="color:brown">Welcome to the Tuck Shop</strong>

                    </h2>
                    <hr>
                    <div class="col-lg-12">
                         <div  class="col-lg-4" id="Parathas" >
                                    <h4>Paratha Gully</h4>
                                    <ul>
                                        <li class="checkbox checkbox-success" ng-repeat="item in menuData.itemList" ng-if="item.shopName == 'tuckshop'">
                                            <input type="checkbox" id={{item.itemId}} ng-model="item.checkbox" ng-change="checkboxSelectionEvent(item)" ng-value="item.itemId">
                                                <label for="{{item.itemId}}">{{item.itemName}} | {{item.price}}|{{item.itemId}}</label>
                                        </li>
                                    </ul>
                        </div>
                    </div>
                    </div>
                    <div class="box">
                        <div class="col-lg-12">
                    <hr>
                    <h2 class="intro-text text-center"><strong style="color:brown">Welcome to the Snacks Bar</strong>

                    </h2>
                    <hr>
                    <div class="col-lg-12">


                                    <div  class="col-lg-4" id="Parathas" >
                                    <h4>Paratha Gully</h4>
                                    <ul>
                                        <li class="checkbox checkbox-success" ng-repeat="item in menuData.itemList" ng-if="item.shopName == 'snacks'">
                                            <input type="checkbox" id={{item.itemId}} ng-model="item.checkbox" ng-change="checkboxSelectionEvent(item)" ng-value="item.itemId">
                                                <label for="{{item.itemId}}">{{item.itemName}} | {{item.price}} | {{item.itemId}}</label>
                                        </li>
                                    </ul>
                          </div>
                        </div>
                    </div>
                    <div class="box">
                        <div class="col-lg-12">
                    <hr>
                    <h2 class="intro-text text-center"><strong style="color:brown">Welcome to the Cafe Coffee Day</strong>

                    </h2>
                    <hr>
                    <div class="col-lg-12">


                                    <div  class="col-lg-4" id="Parathas" >
                                    <h4>Paratha Gully</h4>
                                    <ul>
                                        <li class="checkbox checkbox-success" ng-repeat="item in menuData.itemList" ng-if="item.shopName == 'meals'">
                                            <input type="checkbox" id={{item.itemId}} ng-model="item.checkbox" ng-change="checkboxSelectionEvent(item)" ng-value="item.itemId">
                                                <label for="{{item.itemId}}">{{item.itemName}} | {{item.price}} | {{item.itemId}}</label>
                                        </li>
                                    </ul>

                        </div>
                    </div>

                </div>

                </div>
                <div>
                    <h1 style="color:white;float:left">Proceed To Check Out</h1>
                </div>

                <div style="float:right" class="box col-lg-4" >

                    <div  id="TotalBill" class="col-lg-12">
                                        <h3 class="text-center">Checkout</h3>
                                        <table class="table table-striped">
                                            <thead>
                                                <tr>
                                                    <th>Item(s)</th>
                                                    <th>Quantity</th>
                                                    <th>Price</th>
                                                    <th>Total</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <tr ng-repeat="checkout in items">
                                                    <td>{{checkout.itemName}}</td>
                                                    <td><input type="text" min="1" style="width:50px" ng-model="checkout.quantity" value="1" ng-change="updateQuantity(checkout)"></td>
                                                    <td>{{checkout.price}}</td>
                                                    <td ng-model="checkout.totalPrice">{{checkout.price * checkout.quantity}}</td>
                                                </tr>
                                                <tr><td>Total Price</td><td>{{total}}</td></tr>
                                                <tr>
                                                  <td><button class="btn btn-primary" ng-click="checkoutOrder()" ng-disabled="isDisabled">Checkout</button></td>
                                                </tr>
                                            </tbody>

                                        </table>
                                    </div>
                </div>



                <div class="clearfix"></div>
            </div>
        </div>
