
  <mobo-header></mobo-header>
  <style>
  td,th
  {
    text-align:center !important; 
  	}
  </style>
  

		<div class="container box">
			<div class="hero-unit">
				<div class="pull-right">
					<div class="fb-like" data-href="https://facebook.com/mindmupapp" data-send="false" data-layout="button_count" data-width="100" data-show-faces="false"></div><br/>
				</div>
			
				<h1 class="text-center" style="color:black">Order Details<br/> <small style="color:black">Shop Name | {{vendorName}}</small><br/></h1>

			<hr/>
			<div class="container">
  
  <ul class="nav nav-tabs">
    <li  class="active"><a style="padding:10px" href="#/orderDetail">Order Details</a></li>
    <li class="active"><a style="padding:10px" href="#/vendor">Vendor</a></li>

  </ul>
</div>
			
			<table id="mainTable" style="border:1 px solid black;color:black" class="table table-striped">
			<tr><th>Order ID</th><th>Item ID</th><th>Item Name</th><th>Employee ID</th><th>Quantity</th>
			<tr ng-repeat="order in orderData">
				<td>{{order.orderId}}</td>
				<td>{{order.itemId}}</td>
				<td>{{order.itemName}}</td>
				<td>{{order.empId}}</td>
				<td>{{order.quantity}}</td>
			</tr>
			</table>
			 
			  
				
			</div>


</div>
<script type='text/javascript'>
$(window).load(function(){
$(function () {

    $("#addRow").click(function () {
        var row = $("<tr><td>E</td><td><input type='text'></td><td><input type='text'></td><td><input type='text'></td></tr>");
        $("#mainTable > tbody").append(row);
    });
	
	
	
});
});
</script>
      
<mobo-footer></mobo-footer>

